/* Small Phone Style */
@media (min-width: 320px) and (max-width: 767px){
  .top-nav ul.top-nav-list{
    padding-right: 0px;
    text-align: center;
    padding-bottom: 10px;
  }
  .top-nav ul.top-nav-list .navbar-form{
    padding: 0px 10px 0px 0px;
    box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border: none;
    position: relative;
    top: 5px;
  }
  .top-nav ul.top-nav-list li {
    display: inline-block;
    position: relative;
    padding-right: 19px;
    margin-right: 15px;
    line-height: 14px;
  }
  .navigation .navbar.navbar-inverse{
    margin-top: 15px;
    background-color: #ffffff;
    border-color: #ffffff;
    z-index: 999;
  }
  .navigation .navbar-inverse .navbar-brand{
    width: 84%;
  }
  .navigation .navbar-inverse .navbar-brand img{
    width: 90%;
  }
  .navigation .navbar-inverse .navbar-toggle{
    border-radius: 0px;
  }
  .navigation .navbar-inverse .navbar-toggle .icon-bar{
    background-color: #797979;
  }
  .navigation .navbar-inverse .navbar-nav>li>a:hover::after,
  .navigation .navbar-inverse .navbar-nav>li>a:focus::after {
    position: absolute;
    content: '';
    background-color: #00458e;
    width: 94%;
    left: 7px;
    bottom: 0px;
    height: 1px;
  }
  .navigation .navbar-inverse .navbar-collapse,
  .navigation .navbar-inverse .navbar-form{
    margin-top: 14px;
    border-color: #03418b;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 0.41);
  }
  .navigation .navbar-inverse .navbar-toggle:hover,
  .navigation .navbar-inverse .navbar-toggle:focus{
    background-color: #ffffff;
  }

  /* Content Area */
  .breadcrumb-content{
    background-position: right bottom;
    margin-bottom: 30px;
  }
  .breadcrumb-content h2{
    font-size: 24px;
  }
  .content .sidebar{
    margin-bottom: 50px;
  }
  #footer_area h3{
    margin-top: 30px;
  }
  #footer_area .widget-footer.subscribe .medsos{
    text-align: center;
  }
  /* End Content Area */

  /* Sub Izin */
  .features a.box-link .box .icon{
    left: 30%;
  }
  .izin-area .tab-content {
    margin-top: 40px;
  }
  .izin-area .nav-tabs>li {
    width: 50%;
    position: relative;
  }
  .izin-area .nav-tabs>li a {
    padding: 15px 9px;
  }
  .izin-area .nav-tabs>li a span {
    padding-left: 50px;
  }
  /* End Sub Izin */

  /* Home */
  #Home_Slider.slider .item .text-slider .text-center h1 {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px;
  }
  .features .bundle-box .box-title .triangle-down {
    left: 44%;
    bottom: -19px;
  }
  .features a.box-link{
    margin-bottom: 35px;
  }
  .features .desc-box span {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    float: none;
  }
  .features-link ul li {
    width: 43%;
    min-height: auto;
    margin-bottom: 30px;
  }
  #Home_Slider.slider .item .text-slider h1.head-text{
    font-size: 13px;
  }
  #Home_Slider.slider .item .text-slider p.sub-text{
    display: none;
  }
  #Home_Slider.slider .item .text-slider .button a{
    padding: 3px 9px 4px;
  }
  #Home_Slider.slider .home .owl-nav,
  #Middle_Slide.slider .owl-nav{
    top: 28%;
  }
  #home_area .line-blue{
    padding: 16px 0px;
  }
  .features .desc-box p{
    font-size: 16px;
  }
  /* End Home */
}
/* End Small Phone Style */

/* tab Phone Style */
@media (min-width: 768px) and (max-width: 1024px){
  .top-nav ul.top-nav-list {
      padding-left: 0px;
      padding-right: 3%;
  }
  #Home_Slider.slider .item .text-slider{
    top: 6%;
  }
  .features .bundle-box .box-title p {
    font-size: 12px;
  }
  .features .desc-box p {
    font-size: 12px;
  }
  .features-link ul li {
    width: 16%;
  }
  #footer_area .widget-footer.subscribe .medsos li {
    display: inline-block;
    margin-right: 2px;
  }
  #footer_area .widget-footer.info ul li {
    word-break: break-all;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
/* End tab Phone Style */
