/* Small Phone Style */
@media (min-width: 320px) and (max-width: 767px){
  .top-nav{
    display: none;
  }
  .top-nav ul.top-nav-list{
    padding-right: 0px;
    text-align: center;
    padding-bottom: 10px;
  }
  .top-nav ul.top-nav-list .navbar-form{
    padding: 0px 10px 0px 0px;
    box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border: none;
    position: relative;
    top: 5px;
  }
  .top-nav ul.top-nav-list li {
    display: inline-block;
    position: relative;
    padding-right: 19px;
    margin-right: 15px;
    line-height: 14px;
  }
  .top-nav ul.top-nav-list ul.list-unstyled li:not(.init):hover,
  .top-nav ul.top-nav-list ul.list-unstyled li.selected:not(.init){
    z-index: 9999;
  }
  .top-nav ul.top-nav-list ul.list-unstyled li:not(.init).ina,
  .top-nav ul.top-nav-list ul.list-unstyled li:not(.init).eng{
    z-index: 9999;
  }
  .navigation {
    height: 70px;
  }
  .navigation .navbar-inverse .navbar-brand{
      width: 80%;
  }
  .navigation .navbar.navbar-inverse{
    margin-top: 15px;
    background-color: #ffffff;
    border-color: #ffffff;
    z-index: 999;
  }
  .navigation .navbar-inverse .navbar-brand img{
    width: 95%;
  }
  .navigation .navbar-inverse .navbar-toggle{
    border-radius: 0px;
    margin-top: 4px;
  }
  .navigation .navbar-inverse .navbar-toggle .icon-bar{
    background-color: #797979;
  }
  .navigation .navbar-inverse .navbar-nav>li>a:hover::after,
  .navigation .navbar-inverse .navbar-nav>li>a:focus::after {
    position: absolute;
    content: '';
    background-color: #00458e;
    width: 94%;
    left: 7px;
    bottom: 0px;
    height: 1px;
  }
  .navigation .navbar-inverse .navbar-collapse,
  .navigation .navbar-inverse .navbar-form{
    margin-top: 5px;
    border-color: #03418b;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.41);
    -moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 0.41);
    box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 0.41);
  }
  .navigation .navbar-inverse .navbar-toggle:hover,
  .navigation .navbar-inverse .navbar-toggle:focus{
    background-color: #ffffff;
  }
  .mega-dropdown-menu .dropdown-header{
    white-space: normal ;
    line-height: 20px;
  }
  .mega-dropdown-menu > li > ul > li {
    list-style: none;
    padding-left: 30px;
  }
  .mega-dropdown-menu > li > ul > li > a{
    font-size: 12px;
  }
  ul.dropdown-menu.mega-dropdown-menu.sor{
    width: 100%;
    right: 0px;
  }
  ul.dropdown-menu.mega-dropdown-menu.spektrum{
    width: 100%;
    right: 0px;
  }
  ul.dropdown-menu.mega-dropdown-menu.pengujian{
    width: 100%;
  }
  ul.dropdown-menu.mega-dropdown-menu.sor li ul li:nth-child(5){
    margin-bottom: 0px;
  }

  /* Content Area */
  .breadcrumb-content{
    background-position: right bottom;
    margin-bottom: 30px;
  }
  .breadcrumb-content h2{
    font-size: 24px;
  }
  .content .sidebar{
    margin-bottom: 50px;
  }
  .content-inner .section .box-content{
    min-height: 161px;
  }
  .content .sidebar .widget .title-side h4.title{
    width: 78%;
  }
  #footer_area h3{
    margin-top: 30px;
  }
  #footer_area .widget-footer.subscribe .medsos{
    text-align: center;
  }
  /* End Content Area */

  /* Sub Izin */
  .features a.box-link .box .icon{
    left: 29%;
  }
  .izin-area .tab-content {
    margin-top: 40px;
  }
  .izin-area .nav-tabs>li {
    width: 50%;
    position: relative;
  }
  .izin-area .nav-tabs>li a {
    padding: 15px 11px;
  }
  .izin-area .nav-tabs>li a span {
    padding-left: 50px;
    word-break: break-word;
  }
  /* End Sub Izin */

  /* Home */
  #Home_Slider.slider .owl-carousel .owl-item img {
    height: auto;
    }
  #Home_Slider.slider .item .text-slider{
    padding: 20px 0px;
  }
  #Home_Slider.slider .item .text-slider .text-center h1 {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 7px;
  }
  #Home_Slider.slider .item .text-slider .text-center .form-search{
    width: 65%;
  }
  .features .bundle-box .box-title .triangle-down {
    left: 44%;
    bottom: -19px;
  }
  .features a.box-link{
    margin-bottom: 35px;
  }
  .features .desc-box span {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    float: none;
  }
  .features-link ul li {
    width: 43%;
    min-height: auto;
    margin-bottom: 30px;
  }
  #Home_Slider.slider .item .text-slider h1.head-text{
    font-size: 16px;
  }
  #Home_Slider.slider .item .text-slider p.sub-text{
    font-size: 11px;
    width: 65%;
    margin: 0px auto 15px;
  }
  #Home_Slider.slider .item .text-slider .button a{
    padding: 0px 9px 5px;
    font-size: 9px;
  }
  #Home_Slider.slider .home .owl-nav,
  #Middle_Slide.slider .owl-nav{
    top: 28%;
  }
  #Home_Slider.slider .owl-dots{
    bottom: 0%;
  }
  #home_area .line-blue{
    padding: 16px 0px;
  }
  #Home_Slider.slider .item .text-slider .text-center .form-search input {
    height: 32px;
  }
  #Home_Slider.slider .item .text-slider .text-center .form-search .btn {
    height: 32px;
    font-size: 12px;
  }
  #Home_Slider.slider .item .text-slider{
    top: 23%;
  }
  #home_area .line-blue .text-image img{
    width: auto;
  }
  .features .desc-box p{
    font-size: 16px;
  }
  /* End Home */
}
/* End Small Phone Style */

/* tab Phone Style */
@media (min-width: 768px) and (max-width: 1024px){
  .navigation .navbar-inverse .navbar-brand > img{
    width: 75%;
  }
  .mega-dropdown-menu .dropdown-header{
    white-space: normal ;
  }
  .navigation .nav.navbar-nav{
    margin-top: -18px;
  }
  .mega-dropdown-menu .dropdown-header{
    white-space: normal;
    line-height: 20px;
  }
  .top-nav ul.top-nav-list {
    padding-left: 0px;
    padding-right: 3%;
  }
  ul.dropdown-menu.mega-dropdown-menu.spektrum {
    width: 100%;
    right: 0px;
  }
  ul.dropdown-menu.mega-dropdown-menu.pengujian {
    width: 72%;
  }
  ul.dropdown-menu.mega-dropdown-menu.sor {
    width: 56%;
  }
  #Home_Slider.slider .item .text-slider{
    top: 6%;
  }
  #home_area .line-blue .text-image img{
    width: auto;
  }
  .features .bundle-box .box-title p {
    font-size: 12px;
  }
  .features .desc-box p {
    font-size: 12px;
  }
  .features .desc-box span {
    float: none;
  }
  .features-link ul li {
    width: 16%;
  }
  .izin-area .nav-tabs>li a span {
    padding-left: 50px;
  }
  .izin-area .nav-tabs>li a{
    padding: 25px 10px;
  }
  .features a.box-link .box .icon{
    left:50px;
  }
  .features a.box-link .box{
      min-height: 257px;
  }
  .content-inner .section .box-content{
    padding: 18px 9px;
    min-height: 161px;
  }
  .content .sidebar .widget .title-side img {
    display: inline-block;
    margin-right: 12px;
  }
  .content .sidebar .widget .title-side h4.title{
    width: 73%;
    font-size: 14px;
  }
  .content .sidebar .widget ul.menu-side li a{
    font-size: 13px;
  }
  #footer_area .widget-footer.subscribe .medsos li {
    display: inline-block;
    margin-right: 2px;
  }
  #footer_area .widget-footer.info ul li {
    word-break: break-all;
  }
  #footer_area .widget-footer.links li{
    padding-left: 10px;
  }
  #footer_area .widget-footer.links li::before{
    position: absolute;
    left: 10px;
  }
  #footer_area h3{
    min-height: 45px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
/* End tab Phone Style */
