/* Color Pallet */
.navy-col{
  color: #00458e;
}
.navy-bg{
  background: #00458e;
}
.inline-block{
  display: inline-block;
}
/* End Color Pallet */

/* Choose Language */
.top-nav{
}
.top-nav .row.top{
  margin-left: 0px;
  margin-right: 0px;
}
.top-nav .row.top .col-sm-5,
.top-nav .row.top .col-sm-7{
  padding: 0px;
  position: relative;
}
.top-nav .row.top .col-sm-5{
  border-top: 8px solid #00458e;
}
.top-nav ul.top-nav-list{
  padding-left: 0px;
  padding-right: 14%;
  margin-bottom: 0px;
  display: block;
  text-align: right;
  list-style: none;
  background-color: #00458e;
}
.top-nav ul.top-nav-list li{
  display: inline-block;
  position: relative;
  padding-right: 10px;
  margin-right: 4px;
  line-height: 14px;
}
.top-nav ul.top-nav-list li a{
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.top-nav ul.top-nav-list li a:hover{
  color: #dddddd;
}
.top-nav ul.top-nav-list li::after{
  content: '';
  width: 1px;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #ffffff;
}
.top-nav ul.top-nav-list li:last-child::after{
  content: none;
}
.top-nav ul.top-nav-list li.search{
  padding-right: 0px;
  margin-right: 0px;
}
.top-nav ul.top-nav-list li.search::after{
  content: none;
}
.top-nav ul.top-nav-list li.search form .btn{
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0px;
}
.top-nav ul.top-nav-list li .hide-control{
  display: none;
}
.top-nav ul.top-nav-list ul.list-unstyled{
  display: inline-block;
  color: #ffffff;
}
.top-nav ul.top-nav-list ul.list-unstyled i{
  position: absolute;
  right: 0px;
  top: 0px;
}
.top-nav ul.top-nav-list ul.list-unstyled li {
  padding: 5px 5px;
  z-index: 2;
  position: relative;
  font-size: 12px;
}
.top-nav ul.top-nav-list ul.list-unstyled li::after {
  content: none;
}
.top-nav ul.top-nav-list ul.list-unstyled li.init {
  padding: 0px 5px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
}
.top-nav ul.top-nav-list ul.list-unstyled li:not(.init) {
  width: 100%;
  display: none;
  background: #ffffff;
  position: absolute;
  text-align: left;
  color: #404040;
  border: 1px solid #dddd;
}
.top-nav ul.top-nav-list ul.list-unstyled li:not(.init).ina {
  top: 25px;
}
.top-nav ul.top-nav-list ul.list-unstyled li:not(.init).eng {
  top: 56px;
}
.top-nav ul.top-nav-list ul.list-unstyled li:not(.init):hover,
.top-nav ul.top-nav-list ul.list-unstyled li.selected:not(.init) {
  background: #dfe0ff;
  cursor: pointer;
}
.top-nav ul.top-nav-list ul.list-unstyled li.init {
  cursor: pointer;
}
.triangle-bottom-left {
	width: 0;
	height: 0;
	border-bottom: 100px solid red;
	border-right: 100px solid transparent;
}
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 36px solid #00458e;
  border-left: 43px solid transparent;
  position: absolute;
  top: 0px;
  left: -43px;
}
.navigation{
  border-bottom: 1px solid #dddddd;
}
/* End Choose Language */

/* Mega Menu */
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
  padding: 10px 0px;
  width: 100%;
  top: 70px;
  border-color: #e3e4e6;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 0px;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li ,
.mega-dropdown-menu li ul li{
  list-style: none;
}
.mega-dropdown-menu li ul li ul{
  padding-left: 21px;
}
.mega-dropdown-menu li ul li ul li{
  list-style: circle;
}
.mega-dropdown-menu > li > ul > li .fa.fa-angle-right{
  margin-right: 5px;
}
.mega-dropdown-menu > li > ul > li > a,
.mega-dropdown-menu li ul li a {
  display: block;
  color: #8c8c8c;
  padding: 3px 5px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  color: #4c4c4c;
  padding: 5px 0px;
  line-height: 30px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;
}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
/* End Mega Menu */

/* Menu Style */
.navigation{
  height: 80px;
}
.navigation .navbar.navbar-inverse{
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px;
  border: none;
  margin-top: 10px;
}
.navigation .navbar-inverse .navbar-brand{
  padding: 0px;
  display: inline-block;
  box-sizing: content-box;
}
.navigation .navbar-inverse .navbar-nav>li>a{
  padding: 7px;
  color: #4c4c4c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  position: relative;
}
.navigation .navbar-inverse .navbar-nav>li>a:hover::after,
.navigation .navbar-inverse .navbar-nav>li>a:focus::after{
  position: absolute;
  content: '';
  background-color: #00458e;
  width: 100%;
  left: 0px;
  bottom: -20px;
  height: 1px;
}
.navigation .nav.navbar-nav{
  margin-top: 16px;
}
.navigation .navbar-inverse .navbar-nav>.open>a,
.navigation .navbar-inverse .navbar-nav>.open>a:hover,
.navigation .navbar-inverse .navbar-nav>.open>a:focus{
  background-color: transparent;
  color: #404040;
}
/* End Menu Style */

/* Footer Area */
#footer_area{
  background: #e6e7e9;
  padding: 40px 0px 0px;
}
#footer_area ul{
  padding-left: 0px;
  margin-bottom: 0px;
}
#footer_area ul li a{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #4c4c4c;
}
#footer_area p{
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #4c4c4c;
}
#footer_area h3{
  color: #4c4c4c;
  margin-top: 0px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #b5babf;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#footer_area .copyright{
  margin-top: 30px;
  border-top: 1px solid #b5babf;
  text-align: center;
  padding: 20px 0px;
}
#footer_area .widget-footer.info .img-footer{
  margin-bottom: 15px;
}
#footer_area .widget-footer.info ul li{
  list-style: none;
  margin-bottom: 5px;
}
#footer_area .widget-footer.info p{
  margin-bottom: 15px;
}
#footer_area .widget-footer.info ul li i.fa{
  margin-right: 5px;
  color: #8c8c8c;
}
#footer_area .widget-footer.info ul li a:hover{
  color: #1193d4;
}
#footer_area .widget-footer.address i.fa.big-size{
  color: #8c8c8c;
  font-size: 70px;
  margin-bottom: 15px;
}
#footer_area .widget-footer.links ul {
  list-style: none;
}
#footer_area .widget-footer.links li::before {
  content: "•";
  color: #1193d4;
  display: inline-block;
  width: 1em;
}
#footer_area .widget-footer.links li a:hover {
  color: #1193d4;
}
#footer_area .widget-footer.links li {
  margin-bottom: 18px;
}
#footer_area .widget-footer.subscribe .form-subs{
  margin-bottom: 15px;
}
#footer_area .widget-footer.subscribe .form-subs input{
  background: transparent;
  box-shadow: none;
  border-radius: 0px;
}
#footer_area .widget-footer.subscribe .form-subs .btn{
  background-color: #00458e;
  border-radius: 0px;
  border-color: #00458e;
  color: #ffffff;
  box-shadow: none;
}
#footer_area .widget-footer.subscribe .form-subs .btn:hover{
  background-color: #404040;
}
#footer_area .widget-footer.subscribe .medsos{
  list-style: none;
  display: block;
  text-align: left;
  margin-top: 30px;
}
#footer_area .widget-footer.subscribe .medsos li{
  display: inline-block;
  margin-right: 15px;
}
#footer_area .widget-footer.subscribe .medsos li:last-child{
  margin-right: 0px;
}
#footer_area .widget-footer.subscribe .medsos li a{
  display: inline-block;
  color: #4c4c4c;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 47px;
  border: 1px solid #4c4c4c;
  font-size: 24px;
  font-weight: 600;
}
#footer_area .widget-footer.subscribe .medsos li a:hover{
  background-color: #609fd3;
  color: #ffffff;
  border-color: #609fd3;
}
/* End Footer Area */


/* Home Area */
#Home_Slider.slider .item{
  position: relative;
}
#Home_Slider.slider .item .text-slider{
  text-align: center;
  color: #ffffff;
  padding: 20px 0px;
}
#Home_Slider.slider .item .text-slider .container{
  width: auto;
}
#Home_Slider.slider .item .text-slider h1.head-text{
  margin-top: 0px;
  margin-bottom: 15px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
#Home_Slider.slider .item .text-slider p.sub-text{
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 24px;
}
#Home_Slider.slider .item .text-slider .button a{
  display: inline-block;
  background: #00458e;
  color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  padding: 10px 20px;
  text-decoration: none;
}
#Home_Slider.slider .item .text-slider .button a:hover{
  background-color: #404040;
}
#Home_Slider.slider .item .text-slider .button a i.fa{
  margin-left: 12px;
  color: #65cdf0;
  font-size: 16px;
}
#Home_Slider.slider .item .text-slider .text-center h1{
  text-align: center;
  font-size: 26px;
  line-height: 38px;
  margin-bottom: 29px;
}
#Home_Slider.slider .item .text-slider .text-center .form-search{
  width: 50%;
  margin: auto;
}
#Home_Slider.slider .item .text-slider .text-center .form-search input{
  height: 40px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  padding: 0px 36px;
}
#Home_Slider.slider .item .text-slider .text-center .form-search .btn{
  height: 40px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-size:18px;
  background: #ffffff;
  border-left: 0px;
  color: #9e9e9e;
  padding-right: 16px;
}
#Home_Slider.slider .owl-dots{
  position: absolute;
  bottom: 0%;
  width: 100%;
}
#Home_Slider.slider .home{
  position: relative;
}
#Home_Slider.slider .home .owl-nav,
#Middle_Slide.slider .owl-nav{
  position: absolute;
  top: 38%;
  width: 100%;
}
#Home_Slider.slider .home .owl-nav .owl-prev{
  position: absolute;
  left: 3%;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  height: 44px;
  text-indent: -6000px;
  width: 44px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-position: 3px 0px;
}
#Home_Slider.slider .home .owl-nav .owl-prev:hover{
  background-position: 3px -38px;
  border-color: #00458e;
}
#Home_Slider.slider .home .owl-nav .owl-next{
  position: absolute;
  right: 3%;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  height: 44px;
  text-indent: -6000px;
  width: 44px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-position: -30px 0px;
}
#Home_Slider.slider .home .owl-nav .owl-next:hover{
  background-position: -30px -38px;
  border-color: #00458e;
}
#Home_Slider.slider .owl-carousel .owl-item img{
    height: 400px;
}
#Home_Slider.slider .owl-carousel .owl-item .item{
    background-color: #4293ba;
}
#home_area .line-blue{
  background: #002e5b;
  padding: 10px 0px;
}
#home_area .line-blue .text-image{
  text-align: center;
}
#home_area .line-blue .text-image img{
  margin: auto;
  width: 30%;
}
.features{
  padding: 20px 0px;
}
.features a.box-link{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #8c8c8c;
  position: relative;
}
.features a.box-link .box img{
  background-color: #ffffff;
  margin: 0 auto;
}
.features .bundle-box{
  position: relative;
}
.features a.box-link .bundle-box .box-title{
  background: #5ed3b6;
  color: #ffffff;
  padding: 12px 0px;
  position: absolute;
  width: 100%;
}
.features a.box-link .bundle-box .box-title.two{
  background: #50bfea;
}
.features a.box-link .bundle-box .box-title.three{
  background: #f8b238;
}
.features a.box-link .bundle-box .box-title.four{
  background: #f37e53;
}
.features .bundle-box .box-title p{
  font-weight: 600;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}
.features .bundle-box .box-title .triangle-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #5ed3b6;
  position: absolute;
  left: 42%;
  bottom: -20px;
}
.features .bundle-box .box-title.two .triangle-down {
  border-top: 20px solid #50bfea;
}
.features .bundle-box .box-title.three .triangle-down {
  border-top: 20px solid #f8b238;
}
.features .bundle-box .box-title.four .triangle-down {
  border-top: 20px solid #f37e53;
}
.features .bundle-box .feat-box{
  display: block;
  top: 0px;
  width: 100%;
  margin-bottom: 6px;
}
.features .bundle-box .feat-box img{
  width: 100%;
}
.features .desc-box p{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5px;
  font-size: 13px;
}
.features .desc-box span{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
.features-link{
  background-image: url('../img/bg-icon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0px 60px;
}
.features-link ul{
  display: block;
  text-align: center;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.features-link ul li{
  display: inline-block;
  margin: 0px 10px;
  vertical-align: top;
  width: 17%;
  min-height: 170px;
}
.features-link ul li a.links{
  text-decoration: none;
}
.features-link ul li a.links .icon{
  display: inline-block;
  margin: 0 auto;
  border: 3px solid #1193d4;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 12px;
}
.features-link ul li a.links:hover .icon{
  background-color: #1193d4;
}
.features-link ul li a.links .desc-link p{
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
}
.features-link ul li a.links:hover .desc-link p{
  color: #1193d4;
  text-decoration: none;
}
.features-link ul li a.links .icon img{
  display: inline-block;
}
/* End Home Area */

/* Sub Izin Area */
.izin-area .nav-tabs>li{
  width: 25%;
  position: relative;
}
.izin-area .nav-tabs>li a{
  padding: 30px 20px;
  margin-right: 0px;
  border: none;
  border-radius: 0px;
  margin-left: 0px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
.izin-area .nav-tabs>li a img{
  display: inline-block;
  margin-right: 20px;
  position: absolute;
  top: 22px;
}
.izin-area .nav-tabs>li a span{
  padding-left: 65px;
  display: inline-block;
}
.izin-area .nav-tabs>li a:hover,
.izin-area .nav-tabs>li.active>a:focus{
  border: none;
}
.izin-area .nav-tabs>li a:hover:after,
.izin-area .nav-tabs>li.active>a:focus:after,
.izin-area .nav-tabs>li.active>a:after{
  content: '';
  height: 5px;
  background-color: #51a993;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0px;
}
.izin-area .nav-tabs>li:nth-child(2) a:hover:after,
.izin-area .nav-tabs>li:nth-child(2).active>a:focus:after,
.izin-area .nav-tabs>li:nth-child(2).active>a:after{
  background-color: #4bb1d8;
}
.izin-area .nav-tabs>li:nth-child(3) a:hover:after,
.izin-area .nav-tabs>li:nth-child(3).active>a:focus:after,
.izin-area .nav-tabs>li:nth-child(3).active>a:after{
  background-color: #da9e37;
}
.izin-area .nav-tabs>li:nth-child(4) a:hover:after,
.izin-area .nav-tabs>li:nth-child(4).active>a:focus:after,
.izin-area .nav-tabs>li:nth-child(4).active>a:after{
  background-color: #da6236;
}
.izin-area .nav-tabs>li:nth-child(1) a{
  background: #55bea4;
  color: #ffffff;
}
.izin-area .nav-tabs>li:nth-child(2) a{
  background: #50bfea;
  color: #ffffff;
}
.izin-area .nav-tabs>li:nth-child(3) a{
  background: #f8b238;
  color: #ffffff;
}
.izin-area .nav-tabs>li:nth-child(4) a{
  background: #f37e53;
  color: #ffffff;
}
.izin-area .tab-content{
  margin-top: 60px;
}
.izin-area .features{
  padding: 40px 0px 0px;
}
.features a.box-link .box{
  border: 1px solid #8c8c8c;
  padding: 53px 20px 30px;
  margin-bottom: 70px;
}
.features a.box-link .box .icon{
  position: absolute;
  top: -40px;
  left: 32%;
}
.features a.box-link .box .text-sub h4{
  margin-bottom: 0px;
  color: #281571;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 34px;
  vertical-align: middle;
  display: inline-table;
}
.features a.box-link:hover .box .text-sub h4{
  color: #00458e;
}
.features a.box-link .box .text-sub p {
  margin-bottom: 0px;
  color: #8c8c8c;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
}
/* End Sub Izin Area */

/* Kontent Page */
.breadcrumb-content {
  background-image: url('../img/float-bg.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-color: #cee9f2;
  background-size: contain;
  border-bottom: 1px solid #9cbfcb;
  font-family: 'Open Sans', sans-serif;
  padding: 30px 0px;
  margin-bottom: 50px;
}
.breadcrumb-content h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 0px;
  position: relative;
  margin-bottom: 40px;
}
.breadcrumb-content h2:after{
  content: '';
  background-color: #1193d4;
  position: absolute;
  bottom: -20px;
  left: 0px;
  width: 140px;
  height: 3px;
  display: inline-block;
}
.breadcrumb-content p{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
}
.content-inner .image-big img{
  width: 100%;
}
.content-inner .section h3.title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  margin-bottom: 30px;
  color: #00458e;
}
.content-inner .section h3.title:before{
  content: '';
  background-color: #b5babf;
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0px;
  bottom: -10px;
}
.content-inner .section h3.title:after{
  content: '';
  height: 2px;
  width: 170px;
  left: 0px;
  position: absolute;
  bottom: -11px;
  background-color: #1193d4;
  display: inline-block;
}
.content-inner .section .box-content{
  margin: 10px 0px;
  background-color: #5ed3b6;
  padding: 18px 15px;
}
.content-inner .section .box-content.two{
  background-color: #50bfea;
}
.content-inner .section .box-content.three{
  background-color: #f8b238;
}
.content-inner .section .box-content.four{
  background-color: #f37e53;
}
.content-inner .section .box-content img{
  margin-bottom: 10px;
}
.content-inner .section .box-content p{
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0px;
  color: #ffffff;
}
.content-inner .section p.sub-content{
  font-family: 'Open Sans', sans-serif;
  color: #8c8c8c;
}
.content-inner .section ul.link-list{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 50px;
  text-align: left;
  margin-top: 50px;
}
.content-inner .section ul.link-list>li{
  display: inline-block;
  position: relative;
  vertical-align: top;
  text-align: center;
}
.content-inner .section ul.link-list>li:first-child{
  margin-right: 55px;
}
.content-inner .section ul.link-list>li a{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
.content-inner .section ul.link-list>li p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
}
.content-inner .section ul.link-list>li span{
  font-family: 'Open Sans', sans-serif;
  color: #8c8c8c;
  font-size: 12px;
}
.content-inner .section ul.link-list>li img{
  margin: 0px auto 10px;
}
.content-inner .section ul.link-list>li:nth-child(1):after{
  content: '';
  height: 100%;
  width: 1px;
  background-color: #8c8c8c;
  right: -30px;
  top: 0px;
  display: block;
  position: absolute;
}
.content .sidebar{
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 12px 0px rgba(50, 50, 50, 0.40);
  -moz-box-shadow:    0px 1px 12px 0px rgba(50, 50, 50, 0.40);
  box-shadow:         0px 1px 12px 0px rgba(50, 50, 50, 0.40);
}
.content .sidebar .widget{
  margin-bottom: 30px;
}
.content .sidebar .widget .title-side{
  border-bottom: 1px solid #e6e7e9;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.content .sidebar .widget .title-side img{
  display: inline-block;
  margin-right: 20px;
}
.content .sidebar .widget .title-side h4.title{
  font-size: 18px;
  font-weight: 600;
  font-family: 'Open Sans',sans-serif;
  color: #00458e;
  display: inline-block;
  width: 83%;
  vertical-align: middle;
}
.content .sidebar .widget ul.menu-side{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.content .sidebar .widget ul.menu-side li{
  margin-bottom: 10px;
}
.content .sidebar .widget ul.menu-side li a{
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #8c8c8c;
  text-decoration: none;
}
.content .sidebar .widget ul.menu-side li a:hover{
  color: #00458e;
}
.content .sidebar .widget ul.menu-side .panel-group{
  margin-bottom: 0px;
}
.content .sidebar .widget ul.menu-side .panel-group .panel{
  border: none;
  padding: 0px;
  box-shadow: none;
}
.content .sidebar .widget ul.menu-side .panel-default>.panel-heading{
  border-color: transparent;
  background-color: transparent;
  padding: 0px;
}
.content .sidebar .widget ul.menu-side .panel-default>.panel-heading .panel-title a{
  display: block;
}
.content .sidebar .widget ul.menu-side .panel-group .panel-heading+.panel-collapse>.panel-body,
.content .sidebar .widget ul.menu-side .panel-group .panel-heading+.panel-collapse>.list-group{
  border-top: 0px;
  padding: 10px 0px;
}
.content .sidebar .widget ul.menu-side .panel-default>.panel-heading h4.panel-title .fa{
  float: right;
}
.content .sidebar .widget ul.menu-side .panel-group .panel-heading+.panel-collapse>.panel-body ul.sub-menu{
  padding-left: 5px;
  list-style: none;
}
.content .sidebar .widget ul.menu-side .panel-group .panel-heading+.panel-collapse>.panel-body ul.sub-menu li a{
  font-size: 13px;
  font-weight: normal;
}
.content .sidebar .widget ul.menu-side .panel-group .panel-heading+.panel-collapse>.panel-body ul.sub-menu li a .fa{
  margin-right: 5px;
}
.content .sidebar .widget ul.menu-side .panel-group .panel-heading+.panel-collapse>.panel-body ul.sub-menu li ul{
  list-style: none;
  padding-left: 22px;
  margin-top: 5px;
}
.content .sidebar .widget ul.menu-side .panel-group .panel-heading+.panel-collapse>.panel-body ul.sub-menu li ul li ul li a{
  font-size: 13px;
}
/* End Kontent Page */
